/*CSS INDEX*/
@import url('../../assets/css/fawesome-all.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
}

header{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.semiheader{
    display: flex;
    flex-direction: row;
    gap: 130px;
    align-items: center;
}

.perfil{
    height: 45px;
    width: 40px;
}

.fotoPerfil{
    overflow: hidden;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#perfil{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: red;
    font-size: 13px;
}

#boton{
    width: 60px;
    height: 60px;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}

.contenedorBuscar{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.buscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    width: 270px;
}

.buscar:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(185, 185, 185);
    border-radius: 20px;
    width: 270px;
}

input[type="text"]{
    height: 30px;
    width: 210px;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: transparent;
    color: gray;
}

input[type="text"]:focus{
    height: 30px;
    width: 210px;
    display: flex;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: gray;
}

.logoBuscar{
    height: 25px;
    width: 25px;
}

#imagen{
    border: none;
    background-color: transparent;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#productos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    
}
.producto1{
    width: 55px;
    height: 40px;
}

.producto2{
    width: 60px;
    height: 40px;
}

.producto3{
    width: 50px;
    height: 40px;
}

#producto1,#producto2,#producto3{
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#titulos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    text-align: center;
    padding: 10px;
}

#text1,#text2,#text3{
    height: 19px;
    width: 50px;
    padding: 4px;
    border-radius: 10px;
    background-color: black;
    font-size: 7px;
}

.separador{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: rgb(124, 124, 124);
    font-size: 13px;
}


.productoNovedad{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productoNovedad{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
}



.producto4{
    height: 150px;
    width: 300px;
    background-color: white;
}
.producto5{
    height: 160px;
    width: 160px;
    background-color: white;
    
}

#producto4,#producto5{
    background-color:rgb(248, 246, 246) ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 250px;
    width: 140px;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(122, 122, 122);
    border-radius: 10px;
    

}

#producto4:hover,#producto5:hover{
    background-color:rgb(248, 246, 246) ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 250px;
    width: 140px;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(75, 75, 75);
    border-radius: 10px;
    

}

.img1{
    border-radius: 10px;
    height: 150px;
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 9px rgb(145, 144, 144);
}


#textoNovedad1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

#categoria1{
    color:rgb(238, 75, 75) ;
    font-size: 10px;
}
#produ1{
    font-size: 13px;
}
#precio1{
    padding: 5px;
    color:rgb(138, 138, 138) ;
    font-size: 9px;
}

#comprar{
    font-size: 13px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 15px;
    height: 25px;
    width: 90px;
    border: none;
    outline: none;
}

#comprar:hover{
    font-size: 13px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 15px;
    height: 25px;
    width: 90px;
    border: none;
    outline: none;
}


a{
    text-decoration: none;
    color: white;
}
a:any-link{
    text-decoration: none;
    color: white;
}

.carro{
    height: 14px;
    width: 15px;
    background-color: transparent;
}

#verMas{
    background-color: black;
    color: white;
    height: 35px;
    width: 150px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
}

#verMas:hover{
    background-color: rgb(19, 19, 19);
    color: white;
    height: 35px;
    width: 150px;
    font-size: 14px;
    border-radius: 25px;
    
}



.megaMainNovedad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra{
    padding: 4px;
    background-color: black;
    width: 270px;
    height: 70px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

#botones{
    background-color: transparent;
    color: white;
    height: 65px;
    width: 65px;
    font-size: 1px;
    border: none;
    outline: none;
}

.barraMain{
    padding: 25px;
}

#botones:hover{
    background-color: rgb(70, 69, 69);
    height: 63px;
    width: 65px;
    border-radius: 100%;
}